#!/usr/bin/env python
PACKAGE = "velo2cam_calibration"

from math import pi

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("reset", bool_t, 0, "Reset cumulative cloud", False)
gen.add("x", double_t, 0, "x coord", 0, 0, 1)
gen.add("y", double_t, 0, "y coord", 0, 0, 1)
gen.add("z", double_t, 0, "z coord", 1, 0, 1)
gen.add("angle_threshold", double_t, 0, "Angle threshold for plane segmentation", 0.35, 0, pi/2)
gen.add("edge_threshold", double_t, 0, "Max distance between consecutive points", 1, 0, 1)
gen.add("max_plane_distance", double_t, 0, "Max distance of a point to the estimated plane", 0.2, 0, 0.5)
gen.add("circle_radius", double_t, 0, "Radius of pattern's circles", 0.12, 0, 1)
gen.add("passthrough_radius_min", double_t, 0, "Min radius for passthrough", 1.0, 0, 100)
gen.add("passthrough_radius_max", double_t, 0, "Max radius for passthrough", 100, 0, 100)
gen.add("accumulate", bool_t, 0, "Accumulate centers", True)

exit(gen.generate(PACKAGE, "velo2cam_calibration", "Laser"))
